@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #171717;
  --foreground: #ededed;
  --item-width: 250px;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "Bitter", Arial, Helvetica, sans-serif;
}

.input {
  @apply
  h-[48px]
  rounded-md
  max-sm:rounded-full
  bg-gray-200
  text-lg
  text-gray-900
}

.product-grid {
  @apply
  p-4
  justify-center
  grid;

  grid-template-columns: repeat(auto-fit, minmax(var(--item-width), max-content));
  grid-gap: 2rem;
}

.no-scroll::-webkit-scrollbar {
  display: none;
}

.no-scroll {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}